<section>
  <div class="container">
    <div class="row">
      <div class="content">
        <h1 class="brand">Progress<span>Visualizer</span></h1>
        <p><strong>Quickly setup visual reporting for your <a href="http://www.trello.com" target="_blank">Trello</a> boards.</strong></p>
        <ol class="list-group">
          <li class="list-group-item">
            <h2 id="signup">Sign up</h2>
            <p>You need to create an account in order to associate your Trello account with <strong>ProgressVisualizer</strong>. See <%= link_to "Privacy Policy", privacy_policy_path %>.</p>
            <p>You can manage your existing account anytime from a drop down in the far right of the header.</p>
            <div>
              <div class="callout" style="margin-left:180px;width:120px;height:44px"></div>
              <%= image_tag("header-right.png", alt: "screenshot of header", width: 300, height: 61 )%>
            </div>
            <p><%= link_to("Sign up now", new_user_registration_path, class: "btn btn-default") %></p>
          </li>
          <li class="list-group-item">
            <h2 id="profile">Set up a profile</h2>
            <p>Each user can have many profiles. Each profile points to a specific Trello board and configures the display of the cards in that board a specific way. You can have many profiles each pointing to a different board. You can even use multiple profiles for the same Trello board, if it helps you visualize work in different ways.</p>
            <h3>Step 1</h3>
            <div>Create a reference to a specific trello board. Provide:</div>
            <ul>
              <li>A <strong>name</strong> that uniquely identifies this profile (you can have many profiles for one or more boards).</li>
              <li>Whether this profile is the <strong>default</strong> shown on log-in. You can switch profiles from a drop down in the header.
                <div>
                  <div class="callout" style="width:190px;height:44px"></div>
                  <%= image_tag("header-right.png", alt: "screenshot of header", width: 300, height: 61 )%>
                </div>
              </li>
              <li>A <strong>read-only user token</strong> that represents your permission for <strong>ProgressVisualizer</strong> to read your trello data.
                <ul>
                  <li>Click the provided link to generate this token.
                    <div class="hidden-sm hidden-xs">
                      <div class="callout" style="margin-left:444px;width:160px;height:44px"></div>
                      <%= image_tag("user-token-field.png", alt: "user token field in create/edit user profile", width: 600, height: 44 )%>
                    </div>
                  </li>
                  <li>Click the link and copy the resulting token (random string of characters) into the field provided.
                    <div class="hidden-sm hidden-xs">
                      <div class="callout" style="margin-left:105px;width:340px;height:44px"></div>
                      <%= image_tag("user-token-field.png", alt: "user token field in create/edit user profile", width: 600, height: 44 )%>
                    </div>
                  </li>
                </ul>
              </li>
              <li>The <strong>short board id</strong> of your Trello board. This is the random string that appears in the URL of your trello board, e.g. in the URL https://trello.com/b/WWtHBRod/progress-visualizer, the short board id is <strong>WWtHBRod</strong>.
                <div class="hidden-sm hidden-xs">
                  <%= image_tag("board-id-field.png", alt: "trello board short id field", width: 600, height: 43 )%>
                </div>
              </li>
            </ul>
            <h3>Step 2</h3>
            <div>Set preferences for your trello board.</div>
            <ul>
              <li>Select which lists on your board represent work you have yet to do.
                <div class="hidden-sm hidden-xs">
                  <%= image_tag("todo-lists-selector.png", alt: "to do lists selector", width: 600, height: 165 )%>
                </div>
              </li>
              <li>Select which lists on your board represent work you have already completed.
                <div class="hidden-sm hidden-xs">
                  <%= image_tag("done-lists-selector.png", alt: "done lists selector", width: 600, height: 165 )%>
                </div>
              </li>
              <li>Select which labels on your board represent different types of work you want broken out in reports (see yesterday's weather or done work). This is entirely optional.
                <div class="hidden-sm hidden-xs">
                  <%= image_tag("labels-selector.png", alt: "done lists selector", width: 600, height: 165 )%>
                </div>
              </li>
              <li>Set the start and end day and time for your iterations. Iterations define the start and end of the burn up, yesterday's weather, and done list report. For now, <strong>ProgressVisualizer</strong> assumes one, two, three, or four week iterations and times in the Eastern Timezone. <%= link_to "Please contact me", contact_form_new_path%> if these assumptions are too rigid.</li>
                <div class="hidden-sm hidden-xs">
                  <%= image_tag("iteration-datetime.png", alt: "iteration beginning and end", width: 600, height: 165 )%>
                </div>
              </li>
            </ul>
            <p>You are now ready to start using <strong>ProgressVisualizer</strong>!</p>
          </li>
          <li class="list-group-item"><h2>Start visualizing</h2>
            <ul>
              <li>
                <h3 id="burn_up">Burn up charts</h3>
                <h4>What is a burn up chart?</h4>
                <p>Burn up charts track progress of completed work against the total amount of work to do and completed. It is a basic Scrum practice and has been demonstrated over time to help people self-manage their effort towards predictable delivery week after week. By visualizing completed work moment to moment, you are able to identify wehther progress is trending toward completion or whether obstacles of one kind or other are getting in your team's way. Remove those obstacles and see progress continue towards success.</p>
                <h4>Why and how to use estimates in a burn up chart?</h4>
                <p>By default, <strong>ProgressVisualizer</strong> will plot a burn up using the number of cards. To use estimates (size the effort in a card) you need to place numeric estimates in parentheses at the start of your card descriptions in Trello per the Scrum for Trello convention. Estimates are helpful if your know your work varies in size, you are doing work that is unfamiliar to you (prone to risk), or if the work is not clearly described and allows for uncertainty. In other words, estimates are a good practice for many kinds of work and for many stages in a groups learning.</p>
              </li>
              <%= image_tag("burn-up.jpg", alt: "burn up chart", width: 600, height: 299 )%>
              <li>
                <h3 id="yesterdays_weather">Yesterday's Weather</h3>
                <h4>What is a yesterday's weather?</h4>
                <p>The best way to predict how much you will accomplish this week is to know how much you accomplished last week. This measure is commonly referred to as "yesterday's weather". In <strong>ProgressVisualizer</strong>, yesterday's weather is a stacked bar chart showing the amount of work completed in a board each of the last two weeks.</p>
                <h4>Why and how to use labels to break out types of work?</h4>
                <p>You may want to group work by type for any number of reasons. You may want to balance how much work you do across different categories. You may simply want to know how much of what you do is planned versus unplanned so you can manage down the kind of routine emergencies and arbitrary changes that make a team ineffective.</p>
                <p>To group work in <strong>ProgressVisualizer</strong>, use Trello's labels. Trello allows you to give labels names or you can just use them with their default colors: green, yellow, orange, red, purple, and blue.</p>
                <%= image_tag("yesterdays-weather.jpg", alt: "yesterday's weather chart", width: 600, height: 299 )%>
              </li>
              <li>
                <h3 id="long_term_trend">Long term trend</h3>
                <h4>Why a long term trend chart?</h4>
                <p>The long term trend is like a running burn up showing how much you've accomplished over a ten week period.</p>
                <p>A long term trend can show you how your team produces through changes in size, through times of year, and can give you some sense of your consistency or increased productivity over time.</p>
                <%= image_tag("long-term-trend.jpg", alt: "long term trend chart", width: 600, height: 299 )%>
              </li>
              <li>
                <h3 id="done_work_table">Done stories table</h3>
                <p>Sometimes you just want to see what you've done listed in a simple table. This table may group by type of work the same as yesterday's weather.</p>
                <%= image_tag("tables.jpg", alt: "done work table", width: 600, height: 299 )%>
              </li>
              <li>
                <h3 id="report">Performance Summary Report</h3>
                <p>Finally, the performance summary collects the performance summary, yesterday's weather, and long term trend into a single report suitable for printing and sharing.</p>
                <%= image_tag("reports.jpg", alt: "performance summary report", width: 600, height: 299 )%>
              </li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>