<section>
  <div class="container">
    <div class="row">
      <div>

        <div class="panel panel-default">
          <div class="panel-body">
            <h1 class="brand">Progress<span>Visualizer</span></h1>
            <p>
              <strong>Quickly setup visual reporting for your <a href="http://www.trello.com" target="_blank">Trello</a> board</strong>
              <%= link_to "Demo", "demo/burn-up.html", onClick: track_event("demo_btn", ["homepage", "Demo"]), class: "btn btn-default" %>
              <%= link_to "Get started", new_user_session_path, onClick: track_event("new_user_btn", ["homepage", "Get started"]), class: "btn btn-default" %></p>
          </div>
        </div>

        <div id="carousel-homepage" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-homepage" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-homepage" data-slide-to="1" class=""></li>
            <li data-target="#carousel-homepage" data-slide-to="2" class=""></li>
            <li data-target="#carousel-homepage" data-slide-to="3" class=""></li>
            <li data-target="#carousel-homepage" data-slide-to="4" class=""></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <%= image_tag "burn-up.jpg" %>
              <div class="carousel-caption">
                <h2>Burn ups</h2>
                <h4>Create charts tracking work towards a commitment.</h4>
              </div>
            </div>
            <div class="item">
              <%= image_tag "long-term-trend.jpg" %>
              <div class="carousel-caption">
                <h2>Long Term Trends</h2>
                <h4>Create charts tracking completed trello cards over time.</h4>
              </div>
            </div>
            <div class="item">
              <%= image_tag "yesterdays-weather.jpg" %>
              <div class="carousel-caption">
                <h2>Yesterday's Weather</h2>
                <h4>Create charts comparing work completed week to week.</h4>
              </div>
            </div>
            <div class="item">
              <%= image_tag "tables.jpg" %>
              <div class="carousel-caption">
                <h2>Tables</h2>
                <h4>Group completed work by label.</h4>
              </div>
            </div>
            <div class="item">
              <%= image_tag "reports.jpg" %>
              <div class="carousel-caption">
                <h2>Reports</h2>
                <h4>Combine charts and tables into a dashboard and printable report.</h4>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#carousel-homepage" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-homepage" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>

      </div>
    </div>
  </div>
</sections>