<section>
  <div class="container">
    <div class="row">
      <% if @user.errors.any? %>
        <div class="alert alert-danger alert-block">
          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message.gsub(" hash", "") %></li>
          <% end %>
          </ul>
        </div>
      <% else %>
        <div class="alert alert-info alert-block">All fields required</div>
      <% end %>
      
      <%= form_for(@user, url: users_create_submit_path, html: {class: "form-horizontal"}) do |f| %>
      
        <div class="form-group">
          <%= f.label :name, "Name", class: "col-sm-2 control-label", for: :name %>
          <div class="col-sm-6">
            <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
          </div>
        </div>
      
        <div class="form-group">
          <%= f.label :email, "Email", class: "col-sm-2 control-label", for: :email %>
          <div class="col-sm-6">
            <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :email, "Password", class: "col-sm-2 control-label", for: :password %>
          <div class="col-sm-6">
            <%= f.password_field :password, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
            <%= f.submit "Submit", {class: "btn btn-default"} %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</sections>