<section>
  <div class="container">
    <div class="row">
      <h2><%= current_user.name %></h2>
      <p><%= current_user.email %></p>
      <p><%= link_to "Edit user", edit_user_registration_path, class: "btn btn-default" %></p>
    </div>
  </div>
</section><section>
  <div class="container">
    <div class="row">
      <h3>
        You've created <%= pluralize(profiles.count,"profile") %>
        <%= link_to "Add", new_user_profile_path, class: "btn btn-default" %>
      </h3>
      <% if profiles.any? %>
        <table class="table">
          <tr>
            <th></th>
            <th class="hidden-xs">export</th>
            <th>name</th>
            <th>default</th>
            <th>board id</th>
            <th>backlog lists</th>
            <th>done lists</th>
            <th>types of work</th>
            <th>duration</th>
            <th>start</th>
            <th>end</th>
          </tr>
          <% profiles.each do |profile| %>
            <tr class="profile_<%= profile.id %>">
              <td>
                <%= link_to "edit", edit_user_profile_path(profile), class: "btn btn-xs btn-default" %>
                <%= link_to "delete", user_profile_path(profile), class: "btn btn-xs btn-danger", method: :delete %>
              </td>
              <td class="hidden-xs">
                <%= link_to "CSV",  user_profile_path(profile, format: :csv), class: "btn btn-xs btn-default", alt: "Export to CSV file", title: "Export to CSV file"  %>
                <%= link_to "json", user_profile_path(profile, format: :json), class: "btn btn-xs btn-default", alt: "Export to Json file", title: "Export to Json file"  %>
              </td>
              <td>
                <%= profile.name %>
                <%= "(selected)" if profile.id == user_profile.id %>
              </td>
              <td><%= profile.default == "1" ? "true" : "false" %></td>
              <td><%= profile.current_sprint_board_id_short %></td>
              <td><%= display_keys(profile.backlog_lists) %></td>
              <td><%= display_keys(profile.done_lists) %></td>
              <td><%= profile.labels_types_of_work %></td>
              <td><%= duration_in_weeks(profile.duration) %></td>
              <td><%= day_of_week(profile.start_day_of_week) %> <%= hour_format(profile.start_hour) %></td>
              <td><%= day_of_week(profile.end_day_of_week) %> <%= hour_format(profile.end_hour) %></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <div id="no-profiles" class="well">
          <p><strong>You have no profiles.</strong> <span class="brand">Progress<span>Visualizer</span></span> needs you to assocate your account with at least one Trello board in order to display charts and tables.</p>
        </div>
      <% end %>
    </div>
  </div>
</section>
<%= render "application/modal", id: "profile-modal", title: "Next step", body: "<p><span class=\"brand\">Progress<span>Visualizer</span></span> needs you to assocate your account with at least one Trello board in order to display charts and tables.</p>", url: new_user_profile_path %>