<% export_path ||= nil %>
<table class="table table-bordered table-responsive">
  <tr><td colspan="4"><h3><%= label %> <%= results[:iteration_range] %></h3></td></tr>
  <% results[:lists].each do |list, data| %>
    <tr>
      <th>ID</th>
      <th><%= list %></th>
      <th class="count"><%= data[:stories] %></th>
      <th class="estimate"><%= data[:estimates] %></th>
    </tr>
    <% data[:cards].each do |card| %>
      <tr>
        <td><%= link_to_if(card.short_url, card.id_short, card.short_url, target: "_blank") %></td>
        <td><%= card.name %></td>
        <td></td>
        <td class="estimate"><%= card.estimate %></td>
      </tr>
    <% end %>
  <% end %>
  <tr>
    <th colspan="2"><div class="pull-right">TOTALS</div></th>
    <th class="count"><%= results[:totals][:total_stories] %></th>
    <th class="estimate"><%= results[:totals][:total_estimates] %></th>
  </tr>
</table>
<%= export_button(export_path) %>
