<% export_path ||= nil %>
<table class="table table-bordered table-responsive" data-no-turbolink>
  <tr><td colspan="4"><h3><%= label %> <%= results[:iteration_range] %><%= board_label('in') %></h3></td></tr>
  <% results[:lists].each do |list, data| %>
    <tr class="list">
      <th>ID</th>
      <th class="name"><%= list %></th>
      <th class="count"><%= data[:stories] %></th>
      <th class="estimate"><%= data[:estimates] %></th>
    </tr>
    <% data[:cards].each do |card| %>
      <tr class="story">
        <td class="id"><%= card_link(card) %></td>
        <td class="name"><%= card.name %></td>
        <td></td>
        <td class="estimate"><%= card.estimate %></td>
      </tr>
    <% end %>
  <% end %>
  <tr class="totals">
    <th colspan="2"><div class="pull-right">TOTALS</div></th>
    <th class="count"><%= results[:totals][:total_stories] %></th>
    <th class="estimate"><%= results[:totals][:total_estimates] %></th>
  </tr>
</table>
<%= export_button(export_path) %>
