<section>
  <div class="container">
    <div class="row">
      <table class="table table-bordered table-responsive">
        <% @results[:lists].each do |list, data| %>
          <tr>
            <th><%= list %></th>
            <th class="count"><%= data[:stories] %></th>
            <th class="estimate"><%= data[:estimates] %></th>
          </tr>
          <% data[:cards].each do |card| %>
            <tr>
              <td><%= card.name %></td>
              <td></td>
              <td class="estimate"><%= card.estimate %></td>
            </tr>
          <% end %>
        <% end %>
        <tr>
          <th>Totals</th>
          <th class="count"><%= @results[:totals][:total_stories] %></th>
          <th class="estimate"><%= @results[:totals][:total_estimates] %></th>
        </tr>
      </table>
    </div>
  </div>
</section>