<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), role: "form", html: {class: "form-horizontal panel panel-default"}) do |f| %>
          <div class="panel-heading">
            <h2 class="hidden-xs">Sign in
              <%# link_to "Sign up - it's free", new_registration_path(resource_name), class: 'btn btn-info', style: 'font-size: 14px; float: right' %>
            </h2>
            <h3 class="visible-xs">Sign in
            <%# link_to "Sign up - it's free", new_registration_path(resource_name), class: 'btn btn-info', style: 'font-size: 14px; float: right;margin-top: -6px' %>
            </h3>
          </div>
          <div class="panel-body">

            <div class="form-group">
              <%= f.label :email, class: "col-sm-3 control-label" %>
              <div class="col-sm-9">
                <%= f.email_field :email, class: "form-control", placeholder: "Enter email" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :password, class: "col-sm-3 control-label" %>
              <div class="col-sm-9">
                <%= f.password_field :password, class: "form-control" %>
              </div>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <%= f.label :remember_me do %>
                    <%= f.check_box :remember_me %> Remember me
                  <% end %>
                </div>
              </div>
            <% end -%>

          </div>
          <div class="panel-footer">
            <div class="form-group">
              <div class="col-sm-4">
                <%= f.submit "Sign in", class: "btn btn-default" %>
              </div>
              <div class="col-sm-8">
                <div class="oauth-buttons">
                  <label>Or<span  class="hidden-xs"> use</span>:</label>
                    <span style="white-space: nowrap">
                     <%= link_to "Trello", user_omniauth_authorize_path(:trello), class: "btn btn-default" %>
                     <%= link_to "Google", user_omniauth_authorize_path(:google_oauth2), class: "btn btn-default" %>
                     <%= link_to user_omniauth_authorize_path(:twitter), class: "btn btn-default"  do %>
                        <%= image_tag "sign-in-with-twitter-gray.png", alt: "Sign in with Twitter" %> Twitter
                     <% end %>
                   </span>
                </div>
             </div>
            </div>
          <% end %>
        </div>

        <div>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</section>
