<%# id, title, body, url, (button_text) %>
<% button_text ||= "Continue" %>

<div class="modal fade" id="<%= id %>" tabindex="-1" role="dialog" aria-labelledby="<%= id %>-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="<%= id %>-label"><%= raw(title) %></h4>
      </div>
      <div class="modal-body">
        <%= raw(body) %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= link_to button_text, url, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>