<% classname ||= "" %>
<% if current_user %>
  <li class="dropdown <%= active_class_if([destroy_user_session_path,new_user_session_path]) %> <%= classname %>">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Hello <%= content_tag(:span, current_user.name, class: "fit").html_safe %>
      <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <% menu_list_item("Logout", destroy_user_session_path) %>
      <li class="divider"></li>
      <% menu_list_item("Your Profile", user_profiles_path) %>
    </ul>
  </li>
<% else %>
  <li class="<%= classname %>"><%= link_to("Login", new_user_session_path) %></li>
<% end %>