<section>
  <div class="container">
    <div class="row">
      <%= render 'application/pagination', 
        prior_iteration: @prior_iteration,
        prior_path: reports_performance_summary_path(iteration: @prior_iteration), 
        next_iteration: @next_iteration,
        next_path: reports_performance_summary_path(iteration: @next_iteration)
      %>
    </div>
    <div class="row">
      <h1>Performance Summary <%= share_button %></h1>
    </div>
    <div class="row">
      <%= render "tables/stories_table", label: "Completed work", results: @collated_results %>
    </div>
  </div>
</section>
<hr />
<section>
  <%= render "charts/yesterdays_weather_charts", estimate_chart: @yesterdays_weather_estimate_chart, stories_chart: @yesterdays_weather_stories_chart, uses_estimates: @uses_estimates %>
</section>
<hr />
<section>
  <div class="container">
    <div class="row">
      <%= render "charts/long_term_trend_stats", colspan: 3, offset: 3 %>
    </div>
    <div class="row">
      <%= render "charts/long_term_trend_chart", chart: @long_term_trend_chart %>
    </div>
  </div>
</section>
<%= render "application/sharing_modal", share_url: reports_sharing_new_path(iteration: @iteration, report: "performance-summary") %>
