<section>
  <div class="container">
    <div class="row">
      <%= pagination prior_iteration: @prior_iteration,
        prior_path: reports_performance_summary_path(iteration: @prior_iteration), 
        next_iteration: @next_iteration,
        next_path: reports_performance_summary_path(iteration: @next_iteration)
      %>
    </div>
    <div class="row">
      <h1>Performance Summary <%= share_button %></h1>
    </div>
    <% if @comment %>
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= render_markdown @comment %>
          </div>
        </div>      
      </div>
    <% end %>
    <div class="row">
      <%= render "tables/stories_table", label: "Completed work", results: @collated_results %>
    </div>
  </div>
</section>
<hr />
<section>
  <%= render "charts/yesterdays_weather_charts", estimate_chart: @yesterdays_weather_estimate_chart, stories_chart: @yesterdays_weather_stories_chart, uses_estimates: @uses_estimates %>
</section>
<hr />
<section>
  <div class="container">
    <div class="row">
      <%= render "charts/long_term_trend_stats", stats: @stats, colspan: 3, offset: 3 %>
    </div>
    <div class="row">
      <%= render "charts/long_term_trend_chart", chart: @long_term_trend_chart %>
    </div>
  </div>
</section>
<%= share_modal %>
<div style="clear:both"></div>