<!DOCTYPE html>
<html>
<head>
  <title>Progress Visualizer <%= params["action"].titleize %> <%= params["controller"].titleize %></title>
  <meta name="description" content="Quickly setup visual reporting for your Trello board" />
  <meta name="keywords" content="trello reporting visualization graphs charts" />
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "print/application", media: "print" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <link href="http://fonts.googleapis.com/css?family=Questrial" rel="stylesheet" type="text/css">
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-48660757-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body class="<%= params["controller"] %> <%= params["action"] %>">
  <%= render 'application/header' %>
  <%= render 'application/alert', message: notice, dismissable: true %>
  <%= render 'application/alert', message: alert, type: "danger" %>
  <article>
    <%= yield %>
  </article>
  <footer class="muted">
    <div class="content">
      <p>
        <%= link_to homepage_url do %>www.<span class="brand">progress<span>-visualizer</span></span>.com<% end %>
        is a trello dashboard in ruby on rails by
        <a href="http://judykat.com/ken-judy">Ken Judy</a>
        |
        github: <a href="https://github.com/kenjudy">kenjudy</a>
      </p>
      <p class="hide-print">
        <%= link_to "Help", help_index_path, onClick: track_event("footer", ["link_to_help", "Help"]) %>
        |
        <%= link_to "About", about_path, onClick: track_event("footer", ["link_to_about", "About"]) %>
        |
        <%= link_to "Terms and Conditions", terms_and_conditions_path, onClick: track_event("footer", ["link_to_terms_and_conditions", "Terms and Conditions"]) %>
        |
        <%= link_to "Privacy Policy", privacy_policy_path, onClick: track_event("footer", ["link_to_privacy_policy", "Privacy Policy"]) %>
      </p>
    </div>
  </footer>
  <%= render "application/spinner" %>
</body>
</html>
