<!DOCTYPE html>
<html>
<head>
  <title>Progress Visualizer <%= params["action"].titleize %> <%= params["controller"].titleize %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <link href="http://fonts.googleapis.com/css?family=Questrial" rel="stylesheet" type="text/css">
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body class="<%= params["controller"] %> <%= params["action"] %>">
  <%= render 'application/header' %>
  <%= render 'application/alert', message: notice, dismissable: true %>
  <%= render 'application/alert', message: alert, type: "danger" %>
  <article>
    <%= yield %>
  </article>
  <footer class="muted">
    a trello dashboard in ruby on rails by
    <a href="http://judykat.com/ken-judy">Ken Judy</a>
    |
    github: <a href="https://github.com/kenjudy">kenjudy</a>
    |
    <%= link_to "Help", help_index_path %> 
    |
    <%= link_to "About", about_path %> 
  </footer>
</body>
</html>
