<!DOCTYPE html>
<html>
<%= render 'application/head' %>
<body class="<%= params["controller"] %> <%= params["action"] %>">
  <%= render 'application/header' %>
  <%= render 'application/alert', message: notice || flash[:notice], dismissable: true %>
  <%= render 'application/alert', message: alert || flash[:error], type: "danger" %>
  <article>
    <%= yield %>
  </article>
  <%= render "application/footer" %>
  <div id="spinner" class="modal fade" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
      <%= render "application/spinner" %>
  </div>
</div>
</body>
</html>
